{% extends "base.html" %}
{% block content %}
<h2>Create an Account</h2>

{% if form %}
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    
    <button class="btn" type="submit" href="{% url 'stwms:users_list' %}">Save</button>
    <a class="btn" href="{% url 'stwms:users_list' %}">Cancel</a>
</form>
{% elif user %}
    <p><strong>Username:</strong> {{ user.user.username }}</p>
    <p><strong>Role:</strong> {{ user.role }}</p>
    <p>
        <a class="btn" href="{% url 'stwms:users_update' user.pk %}">Edit</a>
        <form style="display:inline" method="post" action="{% url 'stwms:users_delete' user.pk %}">{% csrf_token %}
            <button class="btn btn-danger" type="submit">Delete</button>
        </form>
    </p>
{% else %}
    <p>No form available.</p>
{% endif %}

{% endblock %}
