<div class="content-header">
    <div class="header-text">
        <h2>Vehicle Fleet</h2>
        <p class="subtitle">Manage trucks and collection vehicles</p>
    </div>
    <div style="display: flex; gap: 10px;">
        <a href="/vehicles/create/" class="btn btn-primary create-vehicle" style="padding: 10px 30px; font-size: 0.9em; text-decoration: none; border: none; border-radius: 5px; cursor: pointer; background-color: #006325; color: white;font-weight: 600;">
            <i class="fas fa-plus"></i> Add New Vehicle
        </a>
        <button class="btn btn-outline" onclick="initVehicleList()" style="padding: 10px 30px; font-size: 0.9em; text-decoration: none; border: none; border-radius: 5px; cursor: pointer; background-color: #006325; color: white;font-weight: 600; font-family: 'Jost', sans-serif;">
            <i class="fas fa-sync-alt"></i> Refresh
        </button>
    </div>
</div>

<div class="panel-controls">
    <div class="search-bar">
        <input type="text" id="vehicleSearch" placeholder="Search by Plate Number or Location..." onkeyup="filterVehicles()">
    </div>
</div>

<div class="analytics-grid" id="vehicleGrid">
</div>