body {
    margin: 0;
    font-family: "Jost", Helvetica, sans-serif;
    background: #006325;
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.container {
    background: #ffffff;
    
    padding: 40px 90px 40px 60px;
    border-radius: 8px;
}

a {
    text-decoration: none;
    font-size: 14px;
    color: #000;
    display: inline-block;
    margin-bottom: 15px;
    transition: 0.3s ease;
}
a:hover {
    color: #006325;
}

h2 {
    margin-top: 0;
    color: #006325;
    font-size: 28px;
}

.subtitle {
    margin-top: -30px;
    color: #040404;
    font-size: 16px;
    margin-bottom: 30px;
    font-weight: 400;
}

label {
    font-size: 16px;
    color: #080808;
    display: block;
    font-weight: 400;
    margin-bottom: 6px;
}

input {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 14px;
}
input:focus {
    border-color: #006325;
    outline: none;
}

.role-title {
    font-size: 14px;
    color: #444;
    margin-bottom: 8px;
}

.role-option {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 12px;
    transition: 0.2s ease;
    width: 100%;

}
.role-option input[type="radio"] {
    display: none;
}
.role-option:hover {
    border-color: #006325;
    background: #f5fff8;
}
.role-option:has(input[type="radio"]:checked) {
    border-color: #006325;
    background: #e5fbeb;
}
.role-option img {
    width: 30px;
    margin-right: 12px;
}

.role-text {
    font-size: 15px;
    font-weight: bold;
    color: #006325;
}

.role-desc {
    font-size: 13px;
    color: #555;
}

button {
    width: 100%;
    padding: 14px;
    background: #006325;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.2s ease;
}

button:hover {
    background: #0b4b27;
}
